{% extends 'base.html' %}
{% block content %}
<div class="home__favoritecarmodel">
    {% for favoritecarmodel in favoritecarmodel %}

    <div class="modellist mb-5">
        <h3 class="carmodel is-3 has-text-success">{{favoritecarmodel.model}}</h3>
        <hr />

        {% for carmodel in favoritecarmodel.carmodel.all %}

        <div class="carmodel">
            <span>{{forloop.counter}}</span>
            <span><b>{{carmodel.carmodel}}</b></span>
            <span>{{carmodel.accelerationtime}} <b>km/h</b></span>
        </div>
        <!--   Here we are creating an anchor tag that when clicked will hit our new route and send a query to remove the song     -->
        <a href="{% url 'favoritecarmodel_carmodel_assoc' favoritecarmodel.pk carmodel.pk %}?assoc=remove"
            class="button is-danger is-outlined">
            <span class="icon is-small">
                <i class="fas fa-times"></i>
            </span>
        </a>
        </span>
    </div>
    {% endfor %}
</div>
{% empty %}
<div class="favoritecarmodel mb-5">"There are no cars in this modelList"</div>
{% endfor %}
</div>
{% endblock %}